<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

{#        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">#}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main0.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1>ProMan</h1>
                </div>

                <div class="nav">
                    <div class="nav-item">
                        <button type="button" id="modal-btn-register" class="button">Sign Up</button>
                            <div id="my-modal-register" class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Register</h2>
                                        <span class="close-register">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/registration" method="post" >
                                            <label for="username">Username:</label><br>
                                            <input type=text name=username id=username><br>
                                            <label for="password">Password:</label><br>
                                            <input type=password name=password id=password><br>
                                            <label for="password">Confirm Password:</label><br>
                                            <input type=password name=password2 id=password2><br>
                                            <button type=submit value=Register>Register</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="nav-item">
                        <button type="button" id="modal-btn-login" class="button">Login</button>
                            <div id="my-modal-login" class="modal">
                                <div class="modal-header">
                                    <h2>Login</h2>
                                    <span class="close-login">&times;</span>
                                </div>
                                <div class="modal-body">
                                    <form action="/login" method="post" >
                                        <label for="username">Username:</label>
                                        <br>
                                        <input type=text name=username_login id=username_login>
                                        <br>
                                        <label for="password">Password:</label>
                                        <br>
                                        <input type=password name=password_login id=password_login>
                                        <br>
                                        <button type=submit value=Login>Login</button>
                                    </form>
                                </div>
                            </div>
                    </div>
                    <div class="nav-item">
                        <button type="button" id="modal-btn-logout" class="button">Log out</button>
                    </div>


                </div>
            </div>
        </nav>

        <header>
            <br>
            <br>
            <button class="button" id="btn-new-board"> + New Board </button>
            <div class="hide">
                <br>
                <form action="/add-board" method="POST">
                    <input type="text" id=new_board name=new_board value="Board Title">
                    <br>
                    <button class="button" type=submit name=save value="Save">Save Board</button>
                </form>
            </div>
            <br>
            <p>{{ message }}</p>
        </header>
        <br>
        <br>
        <div class="board-container">
            <section class="board">
                <div class="board-header">
                    <span class="board-title">
                        <div class="containers" id="boards"></div>
                    </span>
                </div>
                <div class="board-columns">
                    <div class="board-column">
                        <div class="board-column-title">New</div>
                        <div class="board-column-content">
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 1</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 2</div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column">
                        <div class="board-column-title">In Progress</div>
                        <div class="board-column-content">
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 1</div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column">
                        <div class="board-column-title">Testing</div>
                        <div class="board-column-content">
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 1</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 2</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 3</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 4</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 5</div>
                            </div>
                        </div>
                    </div>
                    <div class="board-column">
                        <div class="board-column-title">Done</div>
                        <div class="board-column-content">
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 1</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 2</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 3</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 4</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 5</div>
                            </div>
                            <div class="card">
                                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                                <div class="card-title">Card 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>


    </body>

</html>
